apiVersion: v1
kind: Service
metadata:
  name: myapp
  labels:
    app: myapp
  creationTimestamp: null
  annotations:
    service.beta.kubernetes.io/oci-load-balancer-internal: "true"
    service.beta.kubernetes.io/oci-load-balancer-shape: "flexible"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-min: "10"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-max: "100"
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000    
  selector:
    app: myapp
    tier: backend
  type: LoadBalancer
status:
  loadBalancer: {}  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  labels:
    app: myapp
spec:
  selector:
    matchLabels:
      app: myapp
      tier: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: myapp
        tier: backend
    spec:
      containers:
      - name: myapp
        image: iad.ocir.io/oradbclouducm/nosqldemos/demo-tv-streaming-app:latest
        imagePullPolicy: Always
        env:
        - name: NOSQL_ENDPOINT
          value: myapp-nosql
        - name: NOSQL_PORT
          value: "80"
        ports:
        - containerPort: 3000
          name: myapp
      imagePullSecrets:
      - name: ocirsecret          

